<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVENtZNbtHjE6u77HxIwdCACDDH09wqco</string>
	<key>GCM_SENDER_ID</key>
	<string>865690720276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Litao.TasteBudz</string>
	<key>PROJECT_ID</key>
	<string>tastebudz-81f19</string>
	<key>STORAGE_BUCKET</key>
	<string>tastebudz-81f19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:865690720276:ios:75db7b5dcf7b5bb49aef01</string>
</dict>
</plist>
